$prime-grey:#232a3e;
$sec-grey:#ccc;

$white:#fff;
$primBlue:#2c3e50;
$scondBlue:#515c67;
$green:#7bed9f;

/*food */
$orange:#F29F05;

$lightGrey:#ededed80;
.orangeBk{
    background-color: $orange !important;
}
.orange{
    color: $orange !important;
}

//modals 

$modalBk:rgba(#000,.6)