.w-500{
    width: 500px;
    max-width: 90%;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
a{
    text-decoration: none;
    color: inherit;
    display: block;
}