.login{
   
    &::after{
        @include aftr();
        background-image: url('../imgs/p-1.png');
        background-size: cover;
        background-position: center;
        background-color:rgba( $sec-grey,.5);

    }
    &__card{
        @include cntr();
        width: 500px;
       
        z-index: 999;
        background-color: $white;
        overflow: hidden;
       height: 525px;
       max-width: 90%;
        &--header{
            background-color: $prime-grey;
            img{
             width: 80px;
             position: absolute;
             left: 0;
             right: 0;
             top: 50px;
            
            }
        }
    }
    .singup{
        background: none;
        color: $prime-grey;
        border: none;
    }
    .error{
        input{
            border: 1px solid #f00;
        }
    }
}

.success-sign{
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    background-color: #18c45d !important;
    color: #fff;
    opacity: 1;
    background: none;
    z-index: 99999999999;
    position: relative;
    font-size: 20px;
    border-radius: 8px;
    font-style: italic;
}